In [1]:
#Sum of two numbers

In [3]:
first = input("enter first number")
Second = input ("enter second number")
sum = int (first)+ int (Second)
print (sum)

enter first number 1
enter second number 2

3

In [9]:
print ( "the sum is : " + str(sum))

the sum is : 3

In [ ]:
# capitalize input

In [10]:
name = "Tony stark"

In [11]:
print(name.upper())

TONY STARK

In [ ]:
# Assess location of alphbet

In [13]:
print(name.find("s"))

5

In [16]:
print(name.find("stark"))

5

In [ ]:
#replace function

In [18]:
print(name)

Tony stark

In [19]:
print(name.replace("stark","Ironman"))

Tony Ironman

In [20]:
print("T" in name)

True

In [21]:
print ("m" in name)

False

In [ ]:
#operators in python

In [22]:
print (5 + 3)

8

In [23]:
print (6 / 3)

2.0

In [24]:
print (10//3)

3

In [25]:
print(3%2)

1

In [26]:
print (3**2)

9

In [ ]:
#BODMAS rule and application

In [27]:
result= 3*2+3
print(result)

9

In [ ]:
#assessment of various logical operators

In [33]:
age=19
if age>=18:
    print ("ur an adult")
    print ("u can vote")
    print("ur eligil
print ("thanks")

ur an adult
u can vote
thanks

In [ ]:
#mini project: Calculator

In [35]:
first= input ("enter first number")
operator= input("enter operator (+,-,*,/): ")
second= input("enter second number : ")
first  = int(first)
second = int(second)
if operator == "+":
    print (first+second)
elif operator == "-": 
    print (first- second)
elif operator == "*":
    print(first* second)
elif operator == "/":
    print(first/second)
elif operator == "%":
    print(first% second)

else:
    print("Invalid")

enter first number 5
enter operator (+,-,*,/):  /
enter second number :  2

2.5

In [ ]:
#Range function

In [36]:
numbers= range(5)
print (numbers)

range(0, 5)

In [37]:
# counting numbers from 1-10

In [38]:
i=1
while i<=10:
    print (i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [39]:
# even numbers from 1-20

In [40]:
i=2
while i<=20:
    print(i)
    i=i+2

2
4
6
8
10
12
14
16
18
20

In [ ]:
#patterns of symbols- ascending and descending-WHILE LOOPS

In [41]:
i=1
while i<=6:
    print (i * "*")
    i=i+1

*
**
***
****
*****
******

In [42]:
i=5
while i>=0:
    print (i * "*")
    i=i-1

*****
****
***
**
*

In [44]:
for item in range(10):
    print (item+1)

1
2
3
4
5
6
7
8
9
10

In [45]:
#List operations

In [50]:
marks= [95,94,93]
print (marks [0:2])

[95, 94]

In [51]:
for score in marks:
    print (score)

95
94
93

In [52]:
marks. append (99)
print (marks)

[95, 94, 93, 99]

In [53]:
marks.insert(0,99)
print(marks)

[99, 95, 94, 93, 99]

In [54]:
print (99 in marks)

True

In [55]:
print (len(marks))

5

In [56]:
i=0
while i<len(marks):
    print (marks[i])
    i=i+1

99
95
94
93
99

In [57]:
marks.clear()
print (marks)

[]

In [58]:
#Breaks and Continuity

In [62]:
students = ["ram", "shyam", "kishan", "radha", "radhika"]
for student in students:
    if student == "radha":
        break
    print (student)

ram
shyam
kishan

In [63]:
students = ["ram", "shyam", "kishan", "radha", "radhika"]
for student in students:
    if student == "shyam":
        continue
    print (student)

ram
kishan
radha
radhika

In [ ]:
#FUNCTIONS-MODULE

In [74]:
import math
print (dir(math))
from math import sqrt
from math import log
from math import tan
print (tan(90))
print (sqrt (16))
print (log(10))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
-1.995200412208242
4.0
2.302585092994046

In [79]:
import math
from math import *
print (sqrt(3))

1.7320508075688772

In [80]:
# user based functions

In [81]:
def print_sum(first, second):
    print(first + second)
print_sum(1,2)

3

In [82]:
def print_sum(first, second=4):
    print(first + second)
print_sum(1)

5

In [83]:
def print_multiply (first,second=20):
    print(first *second)

print_multiply(4)

80